
<div class="container-fluid p-4 h100">
    <div class="row w-100 h100">
        <div class="col-3 container-fluid amis-box h100 p-3">
            <div class="card h100">

            </div>
            <p>oui</p>
        </div>
        <div class="col-6 container-fluid feed-box h100 p-3">
            <div class="card h100">

            </div>
            <p>oui</p>
        </div>
        <div class="col-3 container-fluid ref-box h100 p-3">
            <div class="card h100">
                <div>
                    
                </div>
            </div>
            <p>oui</p>
        </div>
    </div>
</div>
