<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" formControlName="firstName" class="form-control" id="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" formControlName="lastName" class="form-control" id="lastName">
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" formControlName="username" class="form-control" id="username">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" formControlName="email" class="form-control" id="email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" class="form-control" id="password">
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" formControlName="age" class="form-control" id="age">
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <select formControlName="gender" class="form-control" id="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
    </div>
    <div class="form-group">
      <label for="interests">Interests</label>
      <select formControlName="interests" multiple class="form-control" id="interests">
        <option *ngFor="let interest of interests" [value]="interest.id">{{ interest }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <select formControlName="country" class="form-control" id="country">
        <option *ngFor="let country of countries" [value]="country.id">{{ country }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  