<div class="w-full h-full flex flex-row align-content-center justify-content-center">
    <div class="flex flex-col flex-wrap w-8 h-full p-2">
        <div class="flex flex-row flex-wrap w-full h-full" >
            <div class="flex flex-col flex-wrap w-10 h-full p-2 justify-content-center">
                <div class="flex flex-row flex-wrap w-8 p-2 justify-content-center" style="height: 23%; border: 1px solid darkgrey;border-radius: 10px;" >
                    <app-card-info-profile [user]="user" class="w-full h-full p-2" style="height: 100%;"></app-card-info-profile>
                </div>
                <div class="flex flex-row flex-wrap w-full p-2" style="height: 75%; border: 1px solid darkgrey;border-radius: 10px; margin-top: 2%;">
                    <div class="card w-full h-full">
                        <div  class="w-full h-full p-2 " style="overflow-y: scroll;">
                            <app-card-publi-account *ngFor="let post of posts" [post]="post" [user]="user" class="w-full p-2 " style="height: 25%;"></app-card-publi-account>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

